{{>header-admin}}
<br><br>
<br><br>
<h1>Dashboard</h1>

<p>Le nombre des offers:  9{{data.offre}}</p>
<p>Le nombre des utilisateurs: 7{{data.userCount}}</p>
<p>Le nombre des stagiaires:  4{{data.stagiaireCount}}</p>
<p>Le nombre des commentaires:  2{{data.commentaireCount}}</p>
<p>Le nombre des societes:  6{{data.commentaireCount}}</p>


<br><br>



<br><br>
{{>footer-admin}}